.listing-title {
    border-bottom: 1px solid white;
    color: #3d3d3d;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px;
    text-align: center;
  }
 
  .form {
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
  }
 
  .listing-input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
 
  .listing-label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
 
  .error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
  }
 
  .listing-button {
    background-color: #f60;
    color: white;
    height: 40px;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0px;}
 
    .main{
  padding: 20px;
    }

    .listing-input-description{
      color: #3d3d3d;
      display: block;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      height: 100px;
      width: 100%;
      line-height: normal;
    }