.vehicle-card{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vehicle-title{
    display: flex;
    justify-content: space-between;
}

.vehicle-card-no-image{
    display: flex;
    justify-content: center;
    padding: 30px;
}